<!DOCTYPE html> 
<html> 
	<head>     
		<meta charset="utf-8">     
		<title>Fatniss</title> 
		<script src="js/handlebars-1.0.0.beta.6.js"></script>
		<script id="result-template" type="text/x-handlebars-template"> </script>
		<link rel="stylesheet" href="style.css" type="text/css" />
	</head> 
	
	<body>
		<nav>
			<ul> 
				<li> <a href = "/"> HOME </a> </li>
				<li> <a href = "/about"> ABOUT </a> </li>
				<li> <a href = "/cupcakes"> CUPCAKES </a> </li>
			</ul>
		</nav>
		<div id = "logo">
			<img src="vector_cupcake.png" height="100" width="100">
		</div>
	    {{{body}}}
	</body> 
</html>