<!DOCTYPE html> 
<html> 
	<head>     
		<meta charset="utf-8">     
		<title>Fatniss</title> 
		<script src="js/handlebars-1.0.0.beta.6.js"></script>
		<script id="result-template" type="text/x-handlebars-template"> </script>
		<link rel="stylesheet" href="style.css" type="text/css" />
	</head> 
	
	<body>
		<nav>
			<div id = "logo">
				<img src="Cupcake_logo.png" height="150" width="150">
			</div>
			<div id = "navigation">
					<li class = "most-left"> <a href = "/"> Home </a> </li>
					<li class = "left"> <a href = "/about"> About Us </a> </li>
					<li class = "right"> <a href = "/cupcakes"> Cupcakes </a> </li>
					<li class = "right"> <a href = "/contact"> Contact Us </a> </li>
			</div>
		</nav>
	    {{{body}}}
	</body> 
</html>